<nav>
    <div class="sidebar-button">
      <i class='bx bx-menu sidebarBtn'></i> 
      <span class="dashboard">Acceuil</span>
    </div>
    <div class="profile-details">
      <div class="dropdown">
        <button class="dropbtn">
          <i class='bx bx-chevron-down'></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/settings">Paramètres</a>
          <a href="#">Déconnexion</a>
        </div>
      </div>
      <span class="admin_name">Ahmed</span>
      <img src="/assets/bnbn.jpg" alt="Profile Picture">
    </div>
  </nav>