<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name">SNIM</span>
    </div>
    <ul class="nav-links">
      <li><a href="/dash" class="active"><i class='bx bx-home-circle sidebarBtn'></i><span class="links_name">Accueil</span></a></li>
      <li><a href="/histo"><i class='bx bx-history'></i><span class="links_name">Historique</span></a></li>
      <li><a href="#"><i class='bx bx-cog' ></i><span class="links_name">Parametre</span></a></li>
  </ul>
</div>
<div class="main-content">
    <div class="profile-card">
      <div class="image">
        <img src="/assets/bnbn.jpg" alt="" class="profile-img" />
      </div>

      <div class="text-data">
        <span class="name">username{{user?.username}}</span>
        <span class="job">profession</span>
      </div>

    

      <div class="buttons">
        
        <button class="button" routerLink="/info">Informations personnelles</button>
        <button class="button" routerLink="/pass">Mot de passe et sécurité</button>
      </div>
      <br>
      <div class="form-container">
        <form (ngSubmit)="onSubmit()">
          <input type="password" id="old-password" name="old-password" placeholder="Old Password" [(ngModel)]="oldPassword">
          <input type="password" id="new-password" name="new-password" placeholder="New Password" [(ngModel)]="newPassword">
          <button type="submit">Save</button>
        </form>
    </div>

      
    </div>
</div>
