<div class="sidebar">
  <div class="logo-details">
      <img src="/assets/nsn.png">
      <span class="logo_name">SNIM</span>
  </div>
  <ul class="nav-links">
      <li>
          <a href="/dash" class="active">
              <!-- <i class='bx bx-grid-alt' ></i> -->
              <i class='bx bx-home-circle sidebarBtn'></i>
              <span class="links_name">Acceuil</span>
          </a>
      </li>
      <li>
          <a routerLink="/listD">
              <i class='bx bx-file' ></i>
              <span class="links_name">Demandes</span>
          </a>
      </li>

      

      <li>
          <a routerLink="/not">
              <i class='bx bx-bell'></i>
              <span class="links_name">Notifications</span>
          </a>
      </li>
      <li>
        <a routerLink="/listAccee">
            <i class='bx bx-shield'></i>
            <span class="links_name">Liste d'accées</span>
        </a>
    </li>

      

     
      
  </ul>
</div>