<div class="main-container">
  <div>
    <app-side-bar></app-side-bar>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Demandes</span>
      </div>
      <div class="profile-details">
        <div class="dropdown">
          <button class="dropbtn">▼</button>
          <div class="dropdown-content">
            <a routerLink="/profil">Profile</a>
            <a href="#">Paramètres</a>
            <a href="#">Déconnexion</a>
          </div>
        </div>
        <span class="admin_name">Admin</span>
        <img src="/assets/bnbn.jpg" alt="">
      </div>
    </nav>
    <div>
      <div><a routerLink="/create"><button type="button" class="btn btn-primary">Ajouter</button></a></div>
      <div class="container" style="width: 90%; margin-right: 100px;">
          <br>
          <br>
  

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="demande-tab" data-bs-toggle="tab" data-bs-target="#demande" type="button" role="tab" aria-controls="demande" aria-selected="true">Demande</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="historique-tab" data-bs-toggle="tab" data-bs-target="#historique" [routerLink]="['/histo', demandeId]" type="button" role="tab" aria-controls="historique" aria-selected="false">Historique</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="suivi-tab" data-bs-toggle="tab" data-bs-target="#suivi" [routerLink]="['/chat', demandeId]" type="button" role="tab" aria-controls="suivi" aria-selected="false">Suivi</button>
        </li>
      </ul>


      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="demande" role="tabpanel" aria-labelledby="demande-tab">
          <br>
          <div class="content">
          <h2 class="form-title"></h2>
          <form class="form" [formGroup]="demandeForm" (ngSubmit)="save()">
            <div class="column">
              <div class="select-container">
                <label for="lieu">Lieu</label>
                <select formControlName="lieu" id="lieu">
                  <option *ngFor="let option of lieuOptions" [value]="option">{{ option }}</option>
                </select>
              </div>
              <div class="select-container">
                <label for="categorie">Catégorie</label>
                <select formControlName="categorie" id="categorie">
                  <option *ngFor="let option of categorieOptions" [value]="option">{{ option }}</option>
                </select>
              </div>
            </div>
            <div class="column">
              <div class="select-container">
                <label for="impact">Impact</label>
                <select formControlName="impact" id="impact">
                  <option *ngFor="let option of impactOptions" [value]="option">{{ option }}</option>
                </select>
              </div>
              <div class="select-container">
                <label for="urgence">Urgence</label>
                <select formControlName="urgence" id="urgence">
                  <option *ngFor="let option of urgenceOptions" [value]="option">{{ option }}</option>
                </select>
              </div>
            </div>
            <div class="column">
              <div class="select-container">
                <label for="type">Type</label>
                <select formControlName="type" id="type">
                  <option *ngFor="let option of typeOptions" [value]="option">{{ option }}</option>
                </select>
              </div>
              <div class="select-container">
                <label for="matricule">Matricule</label>
                <select formControlName="employeeMatricule" id="matricule">
                  <option *ngFor="let matricule of matricules" [value]="matricule">{{ matricule }}</option>
                </select>
              </div>
            </div>
            <div class="input-box">
              <label for="description">Description</label>
              <app-tinymce-editor class="form-control" formControlName="description" id="description" name="description" required></app-tinymce-editor>
            </div>

            <div class="input-box">
              <label for="pieceJointe" class="file-upload-label">
                Pièce Jointe
              </label>
              <input type="file" class="form-control" formControlName="pieceJointe" id="pieceJointe" name="pieceJointe">
            </div>

            
            <button [disabled]="demandeForm.invalid" type="submit">
              <i class='bx bx-save'></i>&nbsp;Save
            </button>
          </form>
        </div>
        </div>

        <div class="tab-pane fade" id="historique" role="tabpanel" aria-labelledby="historique-tab">
          
        </div>
        <div class="tab-pane fade" id="suivi" role="tabpanel" aria-labelledby="suivi-tab">
          
            
          </div>
          
        </div>
      </div>
    </div>
  

  </section>
</div>
