.content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}
.badge-blue {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff !important; /* Bleu */
  color: white !important;
  border-radius: 5px !important;
}

.badge-green {
  display: inline-block;
  padding: 5px 10px;
  background-color: #28a745 !important; /* Vert */
  color: white !important;
  border-radius: 5px !important;
}


.btn {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn.green {
  background-color: #28a745;
  color: white;
}

.btn.gray {
  background-color: #6c757d;
  color: white;
}

.btn.red {
  background-color: #dc3545;
  color: white;
}

.btn.blue {
  background-color: #007bff;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}



th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f1f1f1;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.btn {
  background-color: green;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.btn a {
  color: white;
  text-decoration: none;
}

.btn a:hover {
  text-decoration: underline; /* Ajoutez une décoration lors du survol si souhaité */
}
.table-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.table-controls .search {
  display: flex;
  align-items: right;
  gap: 5px;
}


  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    text-align: left;
    background-color: #f2f2f2;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd;
  }
  
  .table-hover tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  .btn-primary {
    background-color: #0A2558;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #081D45;
  }
  
  .status-nouveau select {
    background-color: blue;
    color: white;
  }
  
  .status-attente select {
    background-color: red;
    color: white;
  }
  
  .status-clos select {
    background-color: green;
    color: white;
  }
  
  .status select {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: inherit;
    background-color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    text-align: left;
    background-color: #f2f2f2;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd;
  }
  
  .table-hover tbody tr:hover {
    background-color: #f5f5f5;
  }
 
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }

  .btn-primary {
    background-color:   #0A2558;
    color: white;
}

.btn-primary:hover {
    background-color: #081D45;
}


.status-nouveau select {
  background-color: blue;
  color: white;
}

.status-attente select {
  background-color: red;
  color: white;
}

.status-clos select {
  background-color: green;
  color: white;
}

.status select {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: inherit; /* Inherit the color from the parent */
  background-color: inherit; /* Inherit the background color from the parent */
  -webkit-appearance: none; /* Remove default styling in WebKit browsers */
  -moz-appearance: none; /* Remove default styling in Firefox */
  appearance: none; /* Remove default styling in modern browsers */
}

/*new*/
.sidebar .nav-links {
  margin-top: 10px;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}

.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
  background: #081D45;
}

.sidebar .nav-links li a:hover {
  background: #081D45;
}

.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.sidebar .nav-links li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.home-section {
  position: relative;
  background: transparent;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}

.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}


.home-section .home-content {
  position: relative;
  padding-top: 104px;
}

.home-section .home-content .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.home-section .home-content .text-section {
  flex: 1;
}

.home-section .home-content .text-section .welcome {
  font-size: 36px;
  font-weight: bold;
  color: #0A2558;
  margin-bottom: 10px;
}

.home-section .home-content .text-section .description {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}

.home-section .home-content .image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-section .home-content .image-section .image {
  max-width: 90%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 240px;
  }

  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active ~ .home-section {
    width: calc(100% - 240px);
    left: 240px;
  }

  
}



@media (max-width: 480px) {
 

  nav .search-box {
    max-width: 250px;
  }

  nav .search-box input {
    font-size: 16px;
  }

  nav .search-box .bx-search {
    width: 30px;
    right: 0;
    font-size: 20px;
  }

  
}





/* ....................profil........... */

.home-section {
  position: relative;
  background: transparent;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}

.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}




nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}



nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}

nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #15346ebb;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}

.home-section .home-content {
  position: relative;
  padding-top: 104px;
}

.home-section .home-content .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.home-section .home-content .text-section {
  flex: 1;
}

.home-section .home-content .text-section .welcome {
  font-size: 36px;
  font-weight: bold;
  color: #0A2558;
  margin-bottom: 10px;
}

.home-section .home-content .text-section .description {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}

.home-section .home-content .image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-section .home-content .image-section .image {
  max-width: 90%;
  height: auto;
  border-radius: 8px;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}


nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}

nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #15346ebb;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}


.home-section .home-content {
  position: relative;
  padding-top: 104px;
}

.home-section .home-content .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.home-section .home-content .text-section {
  flex: 1;
}

.home-section .home-content .text-section .welcome {
  font-size: 36px;
  font-weight: bold;
  color: #0A2558;
  margin-bottom: 10px;
}

.home-section .home-content .text-section .description {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}

.home-section .home-content .image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-section .home-content .image-section .image {
  max-width: 90%;
  height: auto;
  border-radius: 8px;
}


@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 240px;
  }

  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active ~ .home-section {
    width: calc(100% - 240px);
    left: 240px;
  }


 
}

@media (max-width: 980px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name {
    display: none;
  }

 

  .home-section .home-content .container {
    flex-direction: column;
  }

  .home-section .home-content .text-section,
  .home-section .home-content .image-section {
    width: 100%;
  }

  .home-section .home-content .image-section .image {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
 

  nav .search-box {
    max-width: 250px;
  }

  nav .search-box input {
    font-size: 16px;
  }

  nav .search-box .bx-search {
    width: 30px;
    right: 0;
    font-size: 20px;
  }
}

/* Main Content Styles */
.home-section {
  position: relative;
  background: transparent;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}

.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}

.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #2ba5ba;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
  }

.sidebar.active ~ .home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}

/* Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #f9f9f9;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Profile Details */
.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 160px;
  padding: 0 15px 0 2px;
}

nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}

nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

nav .profile-details i {
  font-size: 25px;
  color: #333;
}

  
.search-box {
  position: relative;
  height: 50px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px rgba(0,0,0,.2);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-right: 100px;
}

.search-box.active {
  width: 350px;
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  background: #fff;
  outline: none;
  padding: 0 60px 0 20px;
  font-size: 18px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box input.active {
  opacity: 1;
}

.search-box input::placeholder {
  color: #a6a6a6;
}

.search-box .search-icon {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  color: green;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .search-icon.active {
  right: 5px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 20px;
  background: green;
  color: #fff;
  transform: translateY(-50%) rotate(360deg);
}

.search-box .cancel-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .cancel-icon.active {
  right: -40px;
  transform: translateY(-50%) rotate(360deg);
}

.search-box .search-data {
  text-align: center;
  padding-top: 7px;
  color: #fff;
  font-size: 18px;
  word-wrap: break-word;
}

.search-box .search-data.active {
  display: none;
}


