<div class="main-container">
    <div>
        <app-nav-user></app-nav-user>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i> 
                <span class="dashboard">Acceuil</span>
            </div>
            <div class="profile-details">
                <div class="dropdown">
                    <button class="dropbtn">
                        <i class='bx bx-chevron-down'></i>
                    </button>
                    <div class="dropdown-content">
                        <a routerLink="/settings">Paramètres</a>
                        <a href="#">Déconnexion</a>
                    </div>
                </div>
                <span class="admin_name">Hassen</span>
                <img src="/assets/profil.jpg" alt="Profile Picture">
            </div>
        </nav>

        <header>
            <div class="container">
                <h1>Optimisez la gestion de vos demandes avec notre plateforme dédiée: </h1>
                <p> une solution simple et efficace pour suivre et soumettre vos demandes en toute facilité.</p>
                <a href="#" class="btn">Plus d'informations</a>
            </div>
        </header>

        <section class="features">
            <div class="feature">
                <h3>Besoin d'aide ?</h3>
                <p>Si vous rencontrez des problèmes ou avez besoin d'assistance, n'hésitez pas à contacter notre équipe dédiée.</p>
                <a href=""><i class='bx bx-at' style="color: rgb(40, 40, 41); font-size: 21px; margin-right: 8px;"></i>SmailAhmedou{{'@gmail'}}.com</a>
            </div>

            
            <div class="feature">
                <h3>Informations</h3>
                <p>Notre plateforme offre une interface intuitive et efficace pour la gestion des demandes, assurant un traitement rapide et structuré des requêtes soumises.</p>
            </div>
            <div class="feature">
                <h3>Feedback et Support</h3>
                <p>Partagez vos commentaires ou suggestions pour améliorer notre service. Votre avis est précieux et nous aide à vous offrir une meilleure expérience.</p>
            </div>
        </section>
    </section>
</div>
