<div class="chat-global">

  <div class="nav-top">
      

      <div class="utilisateur">
          
      </div>

  </div>

  <div class="conversation">
      <div class="talk left">
          <img src="/assets/bnbn.jpg">
          <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="talk right">
          <p>Lorem ipsum dolor sit amet.</p>
          <img src="ressources/avatar1.jpg">
      </div>
  
      
  </div>

  <form class="chat-form">

      <div class="container-inputs-stuffs">

          <div class="files-logo-cont">
              <img src="ressources/paperclip.svg">
          </div>

          <div class="group-inp">
<<i class="bx bx-paperclip" style="color: black; font-size: 20px;"></i>
        <textarea placeholder="Enter your message here" minlength="1" maxlength="1500"></textarea>

      </div>

          <button class="submit-msg-btn">
              <img src="ressources/send.svg">
          </button>
      </div>

  </form>
</div>
